language: node_js
node_js:
  - stable
env:
  global:
  - ENCRYPTION_LABEL: "2fa9aa91d8a5"
before_install:
  - npm install -g gitbook-cli
install:
  - git clone https://github.com/flodolo/l10ndocs-linter
  - npm --prefix ./l10ndocs-linter install ./l10ndocs-linter
script:
  - node l10ndocs-linter/linter/markdownlint.js
  - bash ./scripts/deploy.sh
