name: Deploy to GitHub Pages

on:
  # Triggers the workflow on push or pull request events but only for the
  # default branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Set up Rust
        uses: hecrj/setup-rust-action@v1
      - name: Install packages
        run: |
          curl -LSfs https://japaric.github.io/trust/install.sh | sh -s -- --git rust-lang/mdBook
          curl -LSfs https://japaric.github.io/trust/install.sh | sh -s -- --git badboy/mdbook-toc
      - name: Build book
        run: |
            mdbook --version
            mdbook-toc --version
            mdbook build
      - name: Deploy to GitHub Page
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: book
          SINGLE_COMMIT: true
